*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,rgb(60, 152, 60),rgb(154, 150, 120),rgb(126, 107, 231));
}
img{
    position: relative;
}